.decks{
  padding: 0;
}
.decks img{
  height:120px;
  width:auto;
  margin: 5px;
}

.decks p, h1 {
  font-weight: bold;
}

.selva{
  background-color: lightblue;
  border-bottom: 8px dashed #E5E5E5;

}

.saude{
  background-color: #E5E5E5;
  border-bottom: 8px dashed lightblue;
}

.halloween{
  background-color: lightblue;
  border-bottom: 8px dashed #E5E5E5;
}