.decks{
  padding: 0;
}

.tabuleiro{
  background-color: #E5E5E5;
  border: 8px dashed lightblue;

}
.decks img, .tabuleiro img{
  height:120px;
  width:auto;
  margin: 5px;
}

.decks p, h1 {
  font-weight: bold;
}


.primeiraLinha, .segundaLinha, .terceiraLinha, .quartaLinha{
  display: flex;
  justify-content: center;
  align-items: center;
}
.borda{
  margin-top: 25px;
}