/* General Styles */
body {
  font-family: Arial, sans-serif; /*MUDAR*/
  margin: 0;
  padding: 0;
  background-image: url(../images/fundo.jpg);
}
h2 {
  color: black
}

header {
  background-color: #002147;
  color: #fff;
  text-align: center;
  padding: 18px;
  position: fixed;
  width: 100%;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header li {
  display: inline;
  margin-right: 20px;
}

header a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
  color: rgba(223, 211, 211, 0.76) /*Elementos selecionados*/
}

nav ul li a {
  color: #fff;/*Elementos nao selecionados*/
  text-decoration: none;
}

audio {
  width: 50px; /* Defina a largura desejada */
  height: auto; /* Deixe a altura ajustável para manter a proporção */
  position: absolute;
  left: 10px; /* Ajuste a distância da borda esquerda conforme necessário */
  top: 7px; /* Ajuste a distância da borda superior conforme necessário */
}

.borda {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}