/*
    RC: 2023-2024
    GRUPO 13
    Guilherme Soares n 62372: PL23
    João Ribeiro 62206: PL23
    Duarte Soares  62371: PL23
*/

.play {
  position: absolute; /* Define a posição absoluta para centralizar */
  top: 50%; /* Coloca o topo do elemento no centro vertical */
  left: 50%; /* Coloca a esquerda do elemento no centro horizontal */
  transform: translate(-50%, -50%); /* Move o elemento de volta metade do seu tamanho */
}

.play img {
  height: 200px;
  width: auto;
}

