.play {
  position: absolute; /* Define a posição absoluta para centralizar */
  top: 50%; /* Coloca o topo do elemento no centro vertical */
  left: 50%; /* Coloca a esquerda do elemento no centro horizontal */
  transform: translate(-50%, -50%); /* Move o elemento de volta metade do seu tamanho */
}

.play img {
  height: 200px;
  width: auto;
}


audio {
  width: 50px; /* Defina a largura desejada */
  height: auto; /* Deixe a altura ajustável para manter a proporção */
}