@import url(general.css);
@import url(info.css);

ol li{
  list-style-type: upper-roman;
}

.video{
  display: flex;
  justify-content: center;
}
h1{
  text-align:center;
}

footer{
  border-top: 8px dashed lightblue;
  
}
