/*
    RC: 2023-2024
    GRUPO 13
    Guilherme Soares n 62372: PL23
    João Ribeiro 62206: PL23
    Duarte Soares  62371: PL23
*/

ol li{
  list-style-type: upper-roman;
}

.video{
  display: flex;
  justify-content: center;
}
h1{
  text-align:center;
}

footer{
  border-top: 8px dashed lightblue;
  
}
.topo{
  margin-top: 26px;
  background-color: #E5E5E5;
  border-bottom: 8px dashed lightblue;
}

.ultimo{
  background-color: lightblue;
}