.player-options{
  float: right;

}
.player-options img{
  height:120px;
  width:auto;
  border: 5px;
  border-color: black;
  border-style: solid;

}

.decks{
  margin-top: 200px;
  margin-left: 200px;
  
}
.decks img{
  height:120px;
  width:auto;
  margin: 5px;
}

p{
  font-weight: bold;
  
}
.decks a {
  color: initial; /* Cor inicial do texto */
  text-decoration: none; /* Remover o underline */
}

.decks a:hover {
  color: rgb(108, 195, 224); /* MUDAR */
}
