<!--
    RC: 2023-2024
    GRUPO 13
    Guilherme Soares n 62372: PL23
    João Ribeiro 62206: PL23
    Duarte Soares  62371: PL23
-->

body {
    font-family: Arial, sans-serif;
    text-align: center;
    display: block;
  }
  

  
  .scratch-card {
    display: inline-block;
    margin-right: 20px;
  }
  
  .scratch-price {
    font-size: 14px;
  }
  
  .scratch-image {
    width: 200px;
    cursor: pointer;
  }
  
  #result {
    margin-top: 20px;
    font-weight: bold;
    color: green;
  }

.topo{
  padding: calc(10px + 1%);

}
  

#fim{
  padding: calc(10px + 8%);
}
